:root {
    --table-header-bg: #4CAF50;
    --table-header-color: white;
    --row-odd-bg: #f9f9f9;
    --row-even-bg: #f1f1f1;
    --border-color: #ddd;
    --hover-color: #ffedde;
    --text-color: #000000;
    --btn-bg: #dddddd;
    --btn-color: #000000;
    }
    
    #code_table input, #code_table textarea {
    border: 0 !important;
    color: var(--text-color);
    }
    
    table {
    border-collapse: collapse;
    margin: 5px auto;
    }
    
    /* Table header styling */
    thead {
    background-color: var(--table-header-bg);
    color: var(--table-header-color);
    }
    
    th, td {
    padding: 10px;
    border: 1px solid var(--border-color); /* Adds a border to cells */
    }
    
    /* Zebra striping for rows */
    tbody tr:nth-child(odd) {
    background-color: var(--row-odd-bg);
    }
    
    tbody tr:nth-child(even):not(.row1):not(.row2) {
    background-color: var(--row-even-bg);
    }
    
    /* Hover effect for rows */
    tbody tr:hover {
    background-color: var(--hover-color) !important;
    }
    #code_table INPUT {
    background-color: transparent !important;
    text-align: center;
    }
    #code_table textarea {
    background-color: transparent !important;
    }
    #code_table .row-one {
    background-color: var(--row-odd-bg);
    }
    #code_table .row-two {
    background-color: var(--row-even-bg);
    }
    .btn {
    font-weight: normal;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    }
    .btn-bg {
    background-color: var(--btn-bg);
    color: var(--btn-color);
    }
    .btn-copy {
    margin-right: 10px;
    }
    .btn-red {
    color: white;
    background-color: #f44336;
    }
    #new-code INPUT {
    padding: 5px;
    border-radius: 5px;
    }
    #new-code textarea {
    padding: 5px;
    border-radius: 5px;
    }
    #expired_codes {
    margin-top: 20px;
    margin-bottom: 200px;
    }
    .table-margin {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    .details {
      border: 1px solid var(--border-color);
      width: min-content;
      margin: 10px auto;
      padding: 10px;
    }